/***********estilos ID*************/
#select{
  margin-left: 50%;
}

/**************estilos de clases*********/
.contenedor{
  padding: 30px 0px 0px 300px;
  width: 50%;
}
.animal{
  height: 200px;
  width: 200px;
}
.imagenes{
  padding-top: 10px;
}
.sepia{
  filter: sepia(1);
  -webkit-filter: sepia(1);
}
.blanco-negro{
  filter: grayscale(.8);
  -webkit-filter:grayscale(.8);
}
.invertir-colores{
  filter: invert(100%);
  -webkit-filter: invert(100%);
}
